/* main */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Suranna&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #a7a0a0;
  color: #0f141e;
}

img {
  border-radius: 25px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.container {
  max-width: 800px;
  margin: auto;
  padding-top: 30px;
}

.comment {
  font-style: italic;
  margin: auto;
  color: #86898f;
}

.info {
  margin-bottom: 20px;
  display: flex;
}
.info-text {
  margin-left: 40px;
}
/* Class */
.info-text p {
  font-style: italic;
  font-weight: bold;
  color: #86898f;
}

.info-text h4 {
  margin-bottom: 20px;
}

a {
  color: pink;
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  color: #b92a2a;
  font-size: 20px;
}

a:visited {
  color: blue;
}

.btn {
  background: #0f141e;
  padding: 10px 15px;
  color: #f1f1f1;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: inherit;
}

@media (max-width: 650px) {
  .info {
    display: block;
    text-align: center;
  }
}

.btn:hover {
  opacity: 0.8;
}
/* Block card */
.card {
  border-radius: 20px;
  padding: 15px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.bg-yellow {
  background: #fad000;
}

.bg-red {
  background: #b92a2a;
}

.bg-green {
  background: #18be26;
}

/* form class */

.form {
  margin-right: 5px;
}

.list {
  padding: 0 20px;
}

.list li {
  color: #42454b;
  margin-bottom: 10px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #86898f;
}

.form h2 {
  text-align: center;
}

.form-row{
  margin-bottom: 10px;
  display: flex;
}

.form-row .form-group{
  /* display: inline-block; */
  margin-right: 20px;
  width: 50%;
  /* width: calc(50%-20px); */
}

.form-row .form-group:last-child {
  margin-right: 0;
}

@media (max-width: 650px) {
  .form-row {
  display: flex;
  }
}

.form-row .form-group {
  width: 100%;
  margin-right: 0;
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}
